@media screen and (min-width: 768px) {
  body {
    font-size: 5px;
    max-width: 100%;
  }

  header {
    height: 110px;
    box-shadow: 2px 0 10px #adadad;
    background-color: #fff;
    min-width: 1098px;
  }

  nav {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  hr {
    border: 1px solid #ec5242;
    width: 40px;
    margin-top: -10px;
  }

  .top-nav {
    display: flex;
    height: 40px;
    background-color: #272a31;
  }

  .top-nav ul {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #d3d3d3;
  }

  .top-nav li {
    margin: 1.3rem 10px;
    list-style: none;
  }

  .top-nav a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 15px;
  }

  .toggle {
    display: none;
  }

  #logo {
    display: flex;
    align-items: center;
  }

  .menu-list li,
  .menu-list a {
    color: rgb(15, 15, 15);
    font-size: 16px;
    transition: all 0.2s ease-out;
  }

  .menu-list a:hover {
    transform: scale(1.2);
    border-bottom: none;
    color: #ec5242;
  }

  #logo a {
    color: #272a31;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
  }

  footer img {
    width: 13%;
    height: 121px;
    margin-top: -16px;
  }

  .content-card img {
    width: 50px;
    height: 50px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
  }

  #logo img {
    width: 106px;
    height: 70px;
    object-fit: cover;
  }

  .open-menu {
    display: none;
  }

  .menu-list {
    position: relative;
    height: 100%;
    width: 70%;
    background: rgba(39, 42, 49, 0);
    color: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
    transition: none;
    text-align: center;
  }

  .menu-list ul {
    display: flex;
    justify-content: space-around;
  }

  .menu-btn {
    margin-top: 0;
    width: 150px;
    height: 48px;
    border: 3.5px solid #ec5242;
    font-size: 18px;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
  }

  section {
    min-width: 100vw;
  }

  .container {
    padding: 0 9rem;
    padding-top: 13.5rem;
    padding-bottom: 40px;
    color: #172b4d;
    background-image: url('/graphics/desk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1098px;
    margin-top: 0;
  }

  .partner-container {
    min-width: 1098px;
  }

  .container .second-title {
    width: 850px;
    line-height: 61px;
    font-size: 61px;
    padding-left: 9%;
  }

  .container .title {
    padding-right: 311px;
    padding-left: 41px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 912px;
    font-weight: 100;
  }

  .third-title {
    width: auto;
    font-size: 24.5px;
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 18px;
  }

  .container .desc {
    width: 500px;
  }

  .container h3 {
    padding-right: 373px;
    padding-left: 44px;
    width: 912px;
    font-size: 32px;
  }

  .container .kgl {
    margin: 0 0 10px 30px;
    margin-left: 8%;
    margin-top: -13px;
    font-size: 16px;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 17px;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 184px;
    height: 208px;
    margin: 0.2rem;
    text-align: center;
  }

  .content-card:hover {
    border: 1px solid #fff;
  }

  .content p {
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: -17px;
    margin-right: 70px;
  }

  .content .tst-p {
    margin-top: 10px;
  }

  .content-card h4 {
    color: #ec5242;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 9px;
    margin-left: -65px;
    width: 67%;
  }

  .container-2 {
    background-color: #272a31;
    color: #fff;
    padding: 1rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1098px;
  }

  .order-btn {
    background-color: #d3d3d300;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: -8rem;
    text-transform: uppercase;
    border: none;
    text-decoration: underline;
    color: #fff;
    padding-left: 18%;
    font-size: 20px;
  }

  .menu-container {
    padding-bottom: 1rem;
    min-width: 1098px;
  }

  .menu-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 65%;
    margin: 0 auto;
    padding-left: 4%;
  }

  .user-info h4 {
    padding: 20px;
    margin-top: -18px;
    color: #272a31;
    font-size: 16px;
    font-weight: 200;
  }

  .user-info h5 {
    padding: 20px;
    margin-top: -57px;
    margin-bottom: 27px;
    font-size: 12.5px;
    color: #ec5242;
    font-style: italic;
    line-height: 15px;
  }

  .show-more {
    display: none;
  }

  .list-partner {
    width: 40%;
    margin: 2rem auto;
    flex-wrap: nowrap;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 100px;
    min-width: 1098px;
  }

  .footer-copy {
    font-size: 15px;
    color: #272a31;
    margin-left: 10px;
    font-weight: 100;
  }
}
