@media screen and (min-width: 768px) {
  body {
    font-size: 5px;
    max-width: 100%;
  }

  header {
    height: auto;
    box-shadow: 2px 0 10px #adadad;
    display: flex;
    flex-direction: column;
    background: red;
  } 

  nav {
    height: auto;
    align-items: center;
    margin: 0;
    padding: 0;
    color: green;
  }

  hr {
    border: 1px solid #ec5242;
    width: 4vw;
    margin-top: -10px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    color: black;
    font-size: 0.4rem;
    padding: 0;
    margin: 0;
  }

  .top-nav {
    background-color: black;
    height: 200px;
  }

  .icons {
    display: none;
  }

  .lists {
    height: 100%;
    width: 100%;
    background: white;
    color: #272a31;
    display: flex;
    align-content: center;
    transform: translateX(0);
    transition: none;
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .lists li a {
    font-size: 16px;
    color: #272a31;
    text-decoration: none;
  }

  #logo {
    display: flex;
    background: black;
    margin-left: 76px;
  }

  #logo img {
    padding: 8px;
    width: 70px;
    height: 70px;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
  }

  section {
    min-width: 100vw;
  }

  .container {
    padding: 8rem 9rem;
    padding-top: 13.5rem;;
    color: #172b4d;
    background-image: url('/graphics/desk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1098px;
  }

  .container-2 {
    min-width: 1098px;
  }

  .menu-container {
    min-width: 1098px;
  }

  .partner-container {
    min-width: 1098px;
  }

  .container .second-title {
    width: 850px;
    line-height: 61px;
    font-size: 61px;
  }

  .container .title {
    padding-right: 311px;
    padding-left: 41px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 912px;
    font-weight: 100;
  }

  .third-title {
    width: auto;
    font-size: 24.5px;
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 18px;
  }

  .container .desc {
    width: 500px;
  }

  .container h3 {
    padding-right: 373px;
    padding-left: 44px;
    width: 912px;
    font-size: 32px;
  }

  .container .kgl {
    margin-left: 8%;
    margin: 0 0 10px 30px auto;
    margin-top: -13px;
    font-size: 16px;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 17px;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 184px;
    height: 208px;
    margin: 0.2rem;
    text-align: center;
  }

  .content-card:hover {
    border: 3px solid #fff;
  }

  .content-card img {
    width: 50px;
    height: 50px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
  width: 94%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: -17px;
}

.content .tst-p {
  margin-top: 10px;
}

.content-card h4 {
  color: #ec5242;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 9px;
  width: 44%;
}

.container-2 {
  background-color: #272a31;
  color: #fff;
  padding: 1rem;
  padding-bottom: 12rem; 
  display: flex;
  flex-direction: colum;
  justify-content: center;
}

.order-btn {
  background-color: #d3d3d300;
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: -8rem;
  text-transform: uppercase;
  border: none;
  text-decoration: underline;
  color: #fff;
  padding-left: 18%;
  font-size: 20px;
}

.menu-container {
  padding-bottom: 1rem;
}

.menu-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  width: 65%;
  margin: 0 auto;
  padding-left: 4%;
}

.user-info h4 {
  padding: 20px;
  margin-top: -18px;
  color: #272a31;
  font-size: 16px;
  font-weight: 200;
}

.user-info h5 {
  padding: 20px;
  margin-top: -57px;
  margin-bottom: 27px;
  font-size: 12.5px;
  color: #ec5242;
  font-style: italic;
  line-height: 15px;
}

.show-more {
  display: none;
}

.list-partner {
  width: 40%;
  margin: 2rem auto;
  flex-wrap: nowrap;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100px;
  min-width: 1098px;
}

footer img {
  width: 13%;
  height: 121px;
  margin-top: -16px;
}

.footer-copy {
  font-size: 15px;
  color: #272a31;
  margin-left: 10px;
  font-weight: 100;
}