html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  position: fixed;
}

hr {
  border: 1px solid #ec5242;
  width: 14vw;
  margin-top: -10px;
}

.top-nav {
  display: none;
}

.icons {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
  color: #6070ff;
}

.open-button {
  display: block;
  width: 55px;
  padding-top: 15%;
  color: #4c4c4c;
}

.close-button {
  display: none;
  width: 20px;
}

.open-menu .open-button {
  display: none;
}

.open-menu .close-button {
  display: block;
  color: #fff;
  padding-top: 83%;
}

#logo {
  display: none;
}

.lists {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45rem;
  z-index: 1;
  padding: 2rem;
  background: #272a31;
  opacity: 0.9;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1.5s;
  text-align: center;
}

.lists ul {
  text-decoration: none;
  list-style: none;
}

.lists li {
  padding-top: 1rem;
  margin: 1rem;
}

.lists li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.open-menu .lists {
  transform: translateX(0);
  z-index: 5;
}

.nav-btn {
  display: none;
}

/*------------------- container section ----------------------*/

.container {
  padding-bottom: 2%;
  margin-top: -5.5%;
  padding-top: 30%;
  color: #172b4d;
  background-image: url('/graphics/mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container .title {
  font-weight: 700;
  font-size: 25px;
  width: auto;
  padding-right: 10%;
  padding-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec5242;
}

.container .second-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 52px;
  padding-right: 10%;
  padding-left: 7%;
  margin-top: -5px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: transparent;
  background-image: url('/graphics/mobile-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
}

.container .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #f3f3f3;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 85%;
}

.container h3 {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 7%;
  font-size: 24.5px;
  font-weight: 800;
  color: #272a31;
}

.container p {
  margin-left: 8%;
  margin: 0 0 10px 30px auto;
  margin-top: -13px;
}

/*------------------ Card Section ------------------*/

.container-2 {
  background-color: #272a31;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-title {
  width: auto;
  font-size: 24.5px;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.content-card {
  width: 100%;
  min-height: 100px;
  background-color: rgba(226, 226, 226, 0.151);
  margin: 1rem 0;
  padding-left: 7%;
  padding-right: 100rem;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card img {
  width: 12%;
  height: 10%;
  background-color: #fff;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.content-card h4 {
  color: #ec5242;
  text-align: start;
  font-size: 1rem;
  width: 20%;
}

.content p {
  width: 56%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
}

.order-btn {
  margin: 37px auto;
  margin-bottom: 22px;
  margin-left: 28%;
  width: auto;
  height: 70px;
  color: #fff;
  background-color: #ec5242;
  outline: none;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 1%;
  padding-top: 1%;
}

/*-------------------------- Menu Section ---------------------------*/

.menu-container {
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-img {
  width: fit-content;
  max-width: 85px;
  height: 85px;
  border: 3px solid #ec5242;
  border-radius: 50%;
  padding: 5px;
}

.user-card:nth-child(-n + 6) {
  display: flex;
}

.user-info h4 {
  padding: 20px;
  margin-top: -40px;
  color: #272a31;
  font-size: 16px;
  font-weight: 200;
}

.user-info h5 {
  padding: 20px;
  margin-top: -57px;
  font-size: 12.5px;
  color: #ec5242;
  font-style: italic;
  line-height: 15px;
}

.user-info p {
  padding: 20px;
  margin-top: -57px;
  margin-bottom: 7.5%;
  font-size: 12px;
  line-height: 16px;
}

.fourth-title {
  width: auto;
  font-size: 24.5px;
  font-weight: 300;
  color: #272a31;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 5px;
}

.show-more {
  order: 3;
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: #272a31;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
}

/*--------------------------- Partner Section ------------------------*/

.partner-container {
  background-color: #272a31;
  color: #d3d3d3;
  text-align: center;
  padding-bottom: 0.5rem;
}

.list-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 2rem;
}

.list-partner img {
  width: 100px;
}

.list-partner li {
  margin: 1rem 2rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.fifth-title {
  width: auto;
  font-size: 24.5px;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  padding-top: 2.5rem;
}

/*------------------------ Footer Section ------------------------*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100px;
}

footer img {
  width: 65%;
  height: 90px;
  margin-top: -7px;
}

.footer-copy {
  font-size: 15px;
  color: #272a31;
  margin-left: 10px;
  font-weight: 100;
}
