html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
}

.top-nav {
  display: none;
}

.icons {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
  color: #6070ff;
}

.open-button {
  display: block;
  width: 55px;
  margin-top: -3px;
  margin-left: 0;
  color: #4c4c4c;
}

.close-button {
  display: none;
  width: 20px;
  margin: 1.3rem;
  margin-top: 0px;
  margin-left: 8px;
}

.open-menu .open-button {
  display: none;
}

.open-menu .close-button {
  display: block;
  color: #fff;
  margin-top: 0;
  margin-left: 8px;
}

#logo {
  display: none;
}

.lists {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 2rem;
  background: #4c4c4c;
  opacity: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1.5s;
  text-align: center;
}

.lists ul {
  text-decoration: none;
  list-style: none;
}

.lists li {
  padding-top: 1rem;
}

.lists li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.open-menu .lists {
  transform: translateX(0);
  z-index: 5;
}

.nav-btn {
  display: none;
}

/*------------------- container section ----------------------*/

.container {
  margin-top: 55px;
  color: #172b4d;
}

.container .title {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 10px 30px auto;
  margin-left: 26px;
  width: 80%;
  color: #ec5242;
}

.container .second-title {
  font-weight: 900;
  font-size: 38px;
  line-height: 52px;
  width: 90%;
  margin: 0 0 10px 30px auto;
  margin-left: 26px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #ec5242;
}

.container .desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  background-color: #f3f3f3;
  padding: 17px;
  margin: 1.7rem 0;
  margin-top: -15px;
  margin-left: 8%;
  border: 1px solid #fff;
  width: 85.3%;
}

.container h3 {
  width: 22rem;
  margin: 0 0 10px 30px auto;
  margin-left: 8%;
  margin-top: 10px;
  font-size: 24.5px;
  font-weight: 800;
  color: #272a31;
}

.container p {
  margin-left: 8%;
  margin: 0 0 10px 30px auto;
  margin-top: -13px;
}

/*------------------ Card Section ------------------*/

.container-2 {
  background-color: #272a31;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-2 h3 {
  width: 100%;
  margin: 0 0 10px 30px auto;
  margin-left: 2%;
  margin-top: 10px;
  font-size: 24.5px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

.content-card {
  width: 92%;
  min-height: 100px;
  background-color: rgba(226, 226, 226, 0.151);
  margin: 1rem 0;
  margin-left: 0.8rem;
  margin-right: 1rem;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card img {
  width: 12%;
  height: 10%;
  background-color: #fff;
  margin-left: 8px;
}

.content-card h4 {
  color: #ec5242;
  text-align: start;
  font-size: 1rem;
  width: 20%;
}

.content p {
  width: 56%;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 100;
}
